aiodns==3.2.0
aiohttp==3.9.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
Brotli==1.1.0
build==1.2.1
cffi==1.16.0
frozenlist==1.4.1
idna==3.7
multidict==6.0.5
packaging==24.0
pycares==4.4.0
pycparser==2.22
pyproject_hooks==1.0.0
throttler==1.2.2
tomli==2.0.1
yarl==1.9.4
